<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


    {% comment %} {% url "regis" %}  {% endcomment %}



    <h1> Landing Page </h1>

<form method="post" action="{% url 'regis_form_open' %}" >
    {% csrf_token %}
    <button name="btn_regis" value="Registration button" > Registration </button>
</form>



<form method="post" action="{% url 'login_form_open' %}" >
    {% csrf_token %}
    <button name="btn_login" value="Login button" > Login </button>
</form>



</body>
</html>
